#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d0cdcd;
  min-height:100vh;

}
footer {
  background: #212529;
  height: 100px;
  width: 100%;
  color:#EEEFF1;
  display: flex;
  align-items: center;

}
.footeClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vitamins {
  display: flex;
}

.calorieCalculator {
  display: flex;
}

.tabata {
  display: flex;
}

.listExercises {
  cursor: pointer;
}

.exerciseImg {
  display: flex;
  justify-content: center;
}
.exerciseImg > img {
  width: 75%;
}
.rights {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rights > p {
  font-size: 13px;
}
.rights > h4 {
  font-size: 15px;
}
.rights > p {
  font-size: 9px;
}

.socialMedia > a > img {
  height: 30px;
  width: 30px;
  margin-left: 15px;
}
.aboutImg {
  padding-top: 50px;
  width: 50%;
  margin-right: 70px;
  text-align: center;
}
