body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.vitamins {
  display: flex;
}

.calorieCalculator {
  display: flex;
}

.tabata {
  display: flex;
}

.listExercises {
  cursor: pointer;
}

.exerciseImg {
  display: flex;
  justify-content: center;

}
.exerciseImg > img{

  width: 75%;
}
